body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: rgb(116, 14, 156);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }


  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 750px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }



  
  article {
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height: 750px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(150, 0, 187);
    padding: 10px;
    text-align: center;
    color: white;
    height: 100px;
  }

  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }